* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid red;
    width: 100vw;
    height: 100vh;
    background: #212022;
}

.title{
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #FFFFFF;
}

.menutxt{
    font-size: 40px;
}

.menu{
    display: flex;
    gap: 75px;
}

.options{
    display: flex;
    gap: 100px;
}

.options button{
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.score{
    text-align: center;
}

.menu button{
    width: 100px;
    height: 35px;
}

