* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background: #212022;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

.title{
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Pixelify Sans', sans-serif;
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 32px #FFFFFF;
    }
    to {
        text-shadow: 0 0 20px #FFFFFF;
    }
}
.menutxt{
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    text-shadow: 0 0 2px #FFFFFF;
}

.menu{
    display: flex;
    gap: 40px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.menu button{
    font-family: 'Pixelify Sans', sans-serif;
    width: 125px;
    height: 45px;
    background: #a688fa;
    border-radius: 20px;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.menu button:hover{
    transform: scale(1.1);
}

.options{
    display: flex;
    gap: 100px;
}

.optionstxt{
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 0 0 2px #FFFFFF;
    margin-bottom: 15px;
}

.options button{
    width: 225px;
    height: 200px;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    background: #a688fa;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition-duration: .2s;
    cursor: pointer;
}

.options button:hover{
    transform: scale(1.1);
}

.results{
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 0 0 2px #FFFFFF;
    margin-top: 20px;
}

.score{
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 0 0 2px #FFFFFF;
    margin-bottom: auto;
}



