* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid red;
    width: 100vw;
    height: 100vh;
    background: #212022;
}

.title{
    font-size: 50px;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Pixelify Sans', sans-serif;
    animation: glow 1s infinite alternate;
}
@keyframes glow {
    from {
      text-shadow: 0 0 32px #FFFFFF;
    }
    to {
        text-shadow: 0 0 26px #FFFFFF;
    }
}
.menutxt{
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    text-shadow: 0 0 10px #FFFFFF;
}

.menu{
    display: flex;
    gap: 75px;
}

.options{
    display: flex;
    gap: 100px;
}

.optionstxt{
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 0 0 10px #FFFFFF;
}

.options button{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    font-size: 40px;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    background: #6CB4D9;
}

.score{
    text-align: center;
    font-family: 'Pixelify Sans', sans-serif;
    color: #FFFFFF;
    font-size: 40px;
    text-shadow: 0 0 10px #FFFFFF;
    margin-bottom: auto;
}

.menu button{
    font-family: 'Pixelify Sans', sans-serif;
    width: 100px;
    height: 35px;
    background: #6CB4D9;
    border-radius: 20px;
}

